.main
{
    display: flex;
    flex-direction: row;
    min-height: auto;
    gap: 30px;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* căn từ trên xuống, không chia khoảng trống */
    align-items: center;         
    gap: 10px;                   
}

#left img {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #485550;
}

#left h1 {
    color: #485550;
}

/* --- RIGHT --- */
#right {
    width: 60vw;
    padding: 30px;
}

#right h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.info p {
    font-size: 1rem;
    margin: 5px 0;
    color: #444;
}

/* --- BOOK SECTION --- */
.book-section {
    margin-top: 25px;
}

.book-list {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    margin-top: 10px;
    overflow-x:auto;
}

.book-list img {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #485550;
    transition: transform 0.3s ease;
}

.book-list img:hover {
    transform: scale(0.95);
}

/* --- BUTTONS --- */
.buttons {
    margin-top: 30px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: #485550;
    background-color: #748f254d;
    border: 1px solid #48555049;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #485550;
    color: #f4f6f0;
}
